@page "/index"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@layout TLayout
@inject SesionService Sesion

<div class="min-h-screen bg-gray-50 flex flex-col">

    <main class="flex-grow flex items-center justify-center p-4">
        <div class="card w-full max-w-md">
            <div class="card-content p-6 space-y-6">
                <button class="button inventory-button w-full h-20 text-xl flex items-center justify-center space-x-4" @onclick="HandleInventoryClick">
                    <span class="icon"><i class="store-icon"></i></span>
                    <span>Gestionar Inventario</span>
                </button>
                <button class="button sale-button w-full h-20 text-xl flex items-center justify-center space-x-4" @onclick="HandleSaleClick">
                    <span class="icon"><i class="shopping-cart-icon"></i></span>
                    <span>Realizar Venta</span>
                </button>
            </div>
        </div>
    </main>

</div>

@code {
    private string establishmentName = "";
    private int estId = 0;

    protected override async Task OnInitializedAsync()
    {
        // Simular la obtención del nombre del establecimiento
        establishmentName = "Tienda UNPHU";
        await Task.CompletedTask;
    }

    private void HandleInventoryClick()
    {
        NavigationManager.NavigateTo("/inventario");

    }

    private async Task HandleSaleClick()
    {
        var success = await Sesion.RegistrarSesionAsync(estId);

        if (success)
        {
            NavigationManager.NavigateTo("/compras");
        }
        else
        {
            Console.WriteLine("Hubo un error al registrar la sesión.");
        }
    }
}
