@inherits LayoutComponentBase

<PageTitle>UnphuCard_RecargaFront</PageTitle>

<div>
        <article >
            @Body
        </article>
</div>
<footer>
    <div class="container">
        <p>UNPHU | Recarga UnphuCard</p>
    </div>
</footer>