@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>UnphuCard_PagosFront</PageTitle>

<div>
    @Body
</div>
@code {

}
