@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>UnphuCard_PagosFront</PageTitle>

<div>
    <header class="bg-green-700 text-white p-4 text-left">
        <h1 class="text-2xl font-bold">@establishmentName</h1>

    </header>
    @Body
    <footer>
        <footer class="bg-green-800 text-white text-center p-4">
            <p>&copy; 2023 UNPHU - Plataforma de Compra. Todos los derechos reservados.</p>
        </footer>
    </footer>
</div>
@code {
    private string establishmentName = "";

    protected override async Task OnInitializedAsync()
    {
        establishmentName = "Tienda UNPHU";
        await Task.CompletedTask;
    }
    private void Logout()
    {
        localStorage.RemoveItemAsync("authToken");
        NavigationManager.NavigateTo("/");
    }
}
