@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthService AuthService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>UnphuCard_PagosFront</PageTitle>

<div>
    <header class="bg-green-700 text-white p-4 text-left">
        <Header></Header>
        <button @onclick="Logout" class="logout-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                <polyline points="16 17 21 12 16 7"></polyline>
                <line x1="21" y1="12" x2="9" y2="12"></line>
            </svg>            Cerrar
        </button>
    </header>
    @Body
    <footer>
        <footer class="bg-green-800 text-white text-center p-4">
            <p>&copy; @anoActual UNPHU - Plataforma de Compra. Todos los derechos reservados.</p>
        </footer>
    </footer>
</div>
@code {
    private string establishmentName = "";
    private int anoActual;
    protected override async Task OnInitializedAsync()
    {
        anoActual = DateTime.Today.Year;
        int userId = await AuthService.GetUserIdFromTokenAsync();
        var estNombreResult = await AuthService.GetEstNombreByUserIdAsync(userId);
        establishmentName = estNombreResult ?? "Tienda";
        await Task.CompletedTask;
    }
    private void Logout()
    {
        localStorage.RemoveItemAsync("authToken");
        NavigationManager.NavigateTo("/");
    }
}
